# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
server/node_modules

# testing
coverage

# production
server/build
build

# secrets
.env
server/.env

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
