doctype html

html
  head
    title Task Meow

  body
    div(style="display: none")
      div
        p You're almost there!
        p To finish linking your account with<br/> Azure AD, type
        span #{verificationCode}
        p in the Microsoft Teams chat window.

    script(src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js", integrity="sha384-SCVF3m7OvDKnfAilUzYn2yozEvBeP8n/Oq0yTH8VUI70J4AzrqR70jzjdQ6DI8s2", crossorigin="anonymous")
    script(src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js", integrity="sha384-BIOS/65fbAsb2XiCCSTlZSTTl0ZgqkOU522dpyk5meOnN2EOQ3uH+QpqEtoAtmBn", crossorigin="anonymous")

    script.
      // If the window is still visible after 5 seconds, then we are probably on a platform
      // that does not support automatically passing the verification code using notifySuccess().
      // So we ask the user to manually enter the verification code in the chat window.
      setTimeout(() => {
          document.getElementById("instructionText").style.display = "initial";
      }, 5000);

      microsoftTeams.initialize();
      microsoftTeams.authentication.notifySuccess("#{verificationCode}");
