doctype html

html
  head
    title Task Meow

  body
    script(src="https://statics.teams.cdn.office.net/sdk/v1.9.0/js/MicrosoftTeams.min.js", integrity="sha384-bcRxWKfzRyPxg/waVm3IsOnaH2Inoh5gGIJNOat79+wq22/BZ+mFuSTUmVc7l2el", crossorigin="anonymous")
    script(scr="https://alcdn.msftauth.net/lib/0.1.5/js/msal.min.js", integrity="sha384-KSEL5Lw2KU3hDQ5shS768AepsDAW0LzJupGsVCcklTE+E83tCE2XXLRNifFil9F/", crossorigin="anonymous")

    script.
      microsoftTeams.initialize();

        const clientId =
          window.location.hostname === "taskmeow.com"
            ? "36b1586d-b1da-45d2-9b32-899c3757b6f8"
            : "ab93102c-869b-4d34-a921-a31d3e7f76ef";

        const app = new Msal.UserAgentApplication(
          clientId,
          "",
          (err, token) => {
            if (window.opener) {
              if (err) {
                microsoftTeams.authentication.notifyFailure(err);
              } else {
                microsoftTeams.authentication.notifySuccess(token);
              }
            }
          },
          {
            redirectUri: `${window.location.origin}/tab/silent-end`,
            navigateToLoginRequestUrl: false,
            cacheLocation: "localStorage",
          }
        );
