html,
body,
.ms-Fabric,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-login {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.4rem;
  background: #ffffff;
}

.App-login-button-container,
.App-login-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-login-image {
  width: 15rem;
  height: 15rem;
}

.App-login-button {
  margin-bottom: 0.5rem;
}

.App-login-button-image {
  width: 1rem;
  height: 1rem;
}

.App-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
}

.App-header .App-header-title {
  flex: 1 1 auto;
}

.App-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 20rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.4rem;
  background: #ffffff;
}

.App-error {
  border: 1px solid gray;
  background-color: #ffffff;
  color: darkred;
  padding: 2rem;
}

.Tasks {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.Tasks-add {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
}

.Tasks-add-textfield {
  flex: 1 1 auto;
}

.Tasks-list .Task-listitem {
  border: 1px solid;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
}

.Tasks-list .Task-listitem .Task-checkbox {
  display: flex;
  flex: 0 1 auto;
}

.Tasks-list .Task-listitem .Task-title {
  display: inline-flex;
  flex: 1 1 auto;
  margin: 0 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}

.Tasks-list .Task-listitem .Task-starlink {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.ms-Persona-initials {
  padding-top: 2px;
  height: 46px;
  width: 48px;
}

.ms-Persona-details {
  padding-top: 5px;
}

.ms-ContextualMenu-Callout {
  background: white;
}
