.App-login {
  display: flex;
  flex-direction: column;
}

.App-login-image-container,
.App-login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-login-image {
  width: 15rem;
  height: 15rem;
}

.Tasks {
  max-width: 20rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Tasks-add {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Tasks-add-textfield {
  flex: 1 1 auto;
}

.Tasks-list .Task-listitem {
  border: 1px solid;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 0.2rem 0;
  display: flex;
  flex-direction: row;
}

.Tasks-list .Task-listitem .Task-checkbox {
  display: flex;
  flex: 0 1 auto;
}

.Tasks-list .Task-listitem .Task-title {
  display: inline-flex;
  flex: 1 1 auto;
  margin: 0 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}

.Tasks-list .Task-listitem .Task-starlink {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.ms-Persona-initials {
  padding-top: 2px;
  height: 46px;
  width: 48px;
}

.ms-Persona-details {
  padding-top: 5px;
}

.ms-ContextualMenu-Callout {
  background: white;
}
